@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;1,9..40,100&family=Inter:wght@500;800&family=Josefin+Sans:wght@700&family=Poppins:wght@100;300;500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
}

.carousel-container{
    padding: 0px 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
}

.wrapper{
    display: flex;
    max-width: 1200px;
    position: relative;
    /* background-color: aliceblue; */
    
}

.wrapper i{
    height: 50px;
    width: 50px;
    line-height: 20px;
    cursor: pointer;
    text-align: center;
    font-size: 1.2 rem;
    background-color: aliceblue;
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%);
}

.wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    white-space: nowrap !important;
}

.carousel img{
    height: 340px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100% / 3);
}

.carousel img:first-child{
    left: -23px;
}

.carousel img:last-child{
    right: -23px;
}

.wrapper i:first-child{
    left: -23px;
}

.wrapper i:last-child{
    right: -23px;
}

@media screen and (max-width: 900px) {
    .carousel img{
        width: calc(100% / 2);
    }
}
@media screen and (max-width: 500px) {
    .carousel img{
        width: calc(100% / 1);
    }
}

.carousel.dragging{
    scroll-behavior: auto;
    cursor: grab;
}

